/***** General rules *****/
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 95%;
    font-family: Verdana, sans-serif;
    color: #4a4a4a;
    font-size: 17px;
}

h1,h2, h3, h4, p {
   font-family: font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;  
}

h2 {
    font-size: 35px;
    line-height: 40px;
}

h3 {
    font-size: 25px;
    line-height: 35px; 
}

h4 {
    font-size: 20px;
    line-height: 25px; 
}

ul {
    list-style: none;
}

li {
    margin-right: 16px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #4a4a4a;
}

header {
    height: 64px;
    display: flex;
    justify-content: space-between;    
    margin: 0px 24px; 
}

#banner {
    background-color: #d8d8d8;
}

.bannar-image-col {
    flex: 0 0 60%;
 }

.bannar-image-col img {
    width: 100%;
    height: auto;
}

.info-btn:hover {
    background-color: rgba(74,74,74,0.7);
}


/***** colmaar-information *****/

.info-details-left img {
    width: 100%;
    height: auto;
    padding: 16px;
}

.info-details-right {
    width: 65%;
    text-align: left;
    padding: 0 16px;
    
}

.read-more {
    color:rgba(88,152,228, 0.8);
    
}

.read-more:hover {
    color:rgba(88,152,228, 1);
}

/***** Thesis-exhibit *****/

#thesis h2 {
    text-align: center;
}

.thesis-exhibit-left video {
    width: 100%;
    height: auto;
    padding: 32px 24px 0;
}


 
/* Media Query for Laptops and Desktops */
 
@media only screen and (min-width: 768px) and (max-width: 1980px) {
    .nav-mobile {
        display: none;
    }

    #logo {
        display: flex;
        align-items: center;
    }
    
    #logo h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-transform: uppercase;
    }
    
    #logo img {
        width: auto;
        height: 35px;
    }
    
    #logo span {
        color: #9d9d9d; 
    }

    .nav-desktop ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-desktop a:hover {
        color: #9d9d9d;
        border-bottom: 2px solid rgb(74,74,74);
    }


    /***** Banner *****/
    
    .colmaar-banner {
        display: flex;
        justify-content: center;
        align-items:center;
    }
    
   
    .bannar-image-col img {
        padding: 32px 24px;
    }
    
    .bannar-content {
        padding: 10px 25px;
    }
    
    .bannar-info p {
        font-weight: bold;
    }
    
    .info-btn {
        display: flex;
        width: 200px;
        height: 45px;
        background-color: rgba(74,74,74, 0.8);
        color: #fff;   
        padding: 12px 50px;
        margin-bottom: 32px;
        font-size: 14px;
        font-weight: bold;
    }
    
    
    /***** colmaar-information *****/

    .colmaar-information {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .colmaar-information-left {
        flex: 0 0 60%;
        text-align: center;
    }

    .colmaar-information-left img {
        width: 100%;
        height: auto;
        padding: 32px 24px;
    }

    .colmaar-information-left h2 {
        padding-bottom: 12px;
    }

    .colmaar-information-right {
        flex: 0 0 40%;
        align-self: flex-start;
        margin-top: 32px;
    }

    .info-details-mobile {
        display: none;
    }

    
    .info-details-desktop {
        display: flex;
        flex-direction: row;
        text-align: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-color:rgba(216,216,216,0.2);
    }

    .info-details-desktop:hover {
        background-color:rgba(216,216,216,0.8);
    }
    

    .info-details-left {
        width: 35%;
    }

    .info-details-left-mobile {
        display: none;
    }

   
    /***** start-learning *****/

    #start-learning {
        background-color: #eaebec;
    }
    
    #start-learning h2 {
        text-align: center;
        padding-top: 32px;
    }
   

    .subjects-desktop {
        display: flex;
        justify-content: space-evenly;
        padding: 0px 72px 32px;
    }

    .subjects-desktop div {
    flex: 1;
    }

    .subjects-mobile {
        display: none;
    }

    .diverse-course {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px 16px;
        background-color: #fff;  
        cursor: pointer;
        padding: 16px;
    }

    .diverse-course:hover {
        background-color:rgba(249,249,251, 0.8);
    }

    .diverse-course img {
        width: 100%;
        height: auto
    }

    /***** Thesis-exhibit *****/

    .thesis-exhibit {
        display: flex;
        flex-direction: row;
        align-items: center;  
    }

    .thesis-exhibit-left {
        flex: 0 0 60%;
    }


    .thesis-exhibit-right {
        flex: 0 0 40%;
        align-self: flex-start;
        padding-top: 32px;
    }

    .thesis-details {
        display: flex;
        text-align: center; 
        cursor: pointer;
        background-color:rgba(216,216,216,0.2);   
    }

    .thesis-details:hover {
    background-color: rgba(216,216,216,0.8);
    }

    .thesis-details-left {
        width: 35%;
    }

    .thesis-details-right {
        width: 65%;
        text-align: left;
        padding-left: 16px ;
    }


    .thesis-details-left img {
        width: 100%;
        height: auto;
        padding: 16px;
    }

    /***** Footer *****/

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px; 
    }

    .footer-left {
        word-spacing: 1.1;
    }

    .footer-right ul {
        display: flex;
        align-items: center;   
    }

    .footer-right a:hover {
        color: #9d9d9d;
        border-bottom: 2px solid rgb(74,74,74);
    }

}


/* Media Query for Mobiles */

@media only screen and (max-width: 480px) {
   
    /***** Banner *****/

    #logo {
        display: none;
    }

    .nav-desktop {
        display: none;
    }


    .nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    /***** Banner *****/
    
    .colmaar-banner {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 32px;
    }
    
    .bannar-content {
        padding: 10px 25px;
    }
    
    .bannar-info p {
        font-weight: bold;
    }
    
    .info-btn {
        display: flex;
        width: 200px;
        height: 45px;
        background-color: rgba(74,74,74, 0.8);
        color: #fff;   
        padding: 12px 50px;
        font-size: 14px;
        font-weight: bold;
    }
    
    .info-btn:hover {
        background-color: rgba(74,74,74,0.7);
    }

    /***** colmaar-information *****/

    .colmaar-information-left {
        display: none;
    }

    .colmaar-information-right {
        flex: 0 0 40%;
        align-self: flex-start;   
    }
   
    .info-details-desktop {
        display: none;
    }


    .info-details-mobile {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-color:rgba(216,216,216,0.2);
        margin: 1rem 0 4rem;
    }

    .info-details-desktop:hover {
        background-color:rgba(216,216,216,0.8);
    }
    
    .info-details-mobile .info-details-right {
        padding-bottom: 1rem;
    }

    /***** start-learning *****/

    .subjects-desktop {
        display: none;
    }

        #start-learning {
        background-color: fff;
    }
    
    #start-learning h2 {
        text-align: center;
        padding-top: 2rem 0 1rem;
    }

    .subjects-mobile {
        display: flex;
        flex-direction: column;
    }

    .subjects-mobile h4 {
        padding: 16px 16px 24px;
        margin: 8px;
        background-color: #d8d8d8;
        font-family: font-family: 'Open sans', sans-serif;
    }

    /***** Thesis-exhibit *****/

    .thesis-exhibit-right {
        display: none;
    }

    .thesis-exhibit-left article {
        display: none;
    }


    /***** Footer *****/

    .footer-right ul {
        display: none;
    }

    .footer-left {
        margin-top: 1.5rem;
        padding: 1rem 0;
        font-size: 1rem;
        text-align: center;
    }
}


